/************ HEADER STYLES START *************/
.site-header {
    width: 100%;
    background-image: linear-gradient(to right, #FFFFFF 55%, #0A7F2E 50%);
}
.services-site__header{
    width: 100%;
}
.site-header__wrapper {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header__start {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-header___logo-img {
    margin-left: 40px;
}

.site-nav__list {
    margin-left: 40px;
    display: flex;
    gap: 30px;
}

.site-nav__link {
    font-size: 16px;
    line-height: 19px;
    color: var(--header-text-color);
    transition: all 0.3s;
}

.site-nav__link:hover {
    color: #0A7F2E;
}

.logo-header {
    margin-left: 10px;
}

.site-header__end {
    display: flex;
    align-items: center;
}

.contact-number {
    margin-right: 50px;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.services-contact__number{
    margin-right: 50px;
    font-size: 16px;
    line-height: 19px;
    color: var(--main-services-color);
}
.site-header__search {
    margin-right: 45px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    background-image: url(../../images/logo/search.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 24px;
}
.services{
    background-image: url('../../images/logo/search-black.svg');
}
.site-header__btn {
    padding: 15px 41px 16px 33px;
    border: 1px solid #FFFFFF;
    line-height: 19px;
    color: #FFFFFF;
}
.services-site__header--btn{
    padding: 15px 41px 16px 33px;
    border: 1px solid var(--main-services-color);
    line-height: 19px;
    color: var(--main-services-color);
}
/************ HEADER STYLES END *************/