/************** PORTFOLIO SECTION STYLES START *************/
.portfolio-section {
    position: relative;
    padding-top: 52px;
    text-align: center;
}

.portfolio-section__xizmatlar-line {
    position: absolute;
    top: 35px;
    left: calc(50% - 650px);
}

.portfolio-section__img {
    position: absolute;
    top: 560px;
    left: calc(50% - 670px);
}

.portfolio-section__line {
    position: absolute;
    top: 800px;
    left: calc(50% - 650px);
}

.portfolio-section__start {
    padding-bottom: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.portfolio-section__title {
    margin: 0;
    font-size: 24px;
    line-height: 29px;
    color: #0A7F2E;
}

.portfolio-section__title::before {
    margin-right: 15px;
    width: 11px;
    height: 50px;
    content: url(/images/logo/border.svg);
}

.portfolio-section__nav--list {
    display: flex;
    gap: 28px;

}

.portfolio-section__nav--link {
    padding-bottom: 5px;
    font-size: 16px;
    line-height: 19px;
    color: #A6A6A6;
    transition: all 0.3s;
}

.portfolio-section__nav--link:hover {
    color: #494846;
    border-bottom: 1px solid #0A7F2E;
}

.portfolio-section__end {
    padding-bottom: 61px;
}

.portfolio-section__list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.portfolio-img {
    box-shadow: 0px 0px 20px #E5E5E5;
}

#bg-img {
    width: 400px;
    height: 300px;
    background-image: url(../../images/murojaat-img.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.portfolio-section__card {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
    background-color: #0a7f2ecc;
}

.portfolio-section__btn--logo {
    margin-bottom: 39px;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px 12px 12px 13px;
    border: none;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 30px #0a7f2e33);
}

.portfolio-section__card--link {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}

.portfolio-section__card--text {
    margin-top: 20px;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

.portfolio-section__btn {
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 61px;
    padding: 18px 50px 18px 50px;
    border: 2px solid #0A7F2E;
    background-color: transparent;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #0A7F2E;
}

/************** PORTFOLIO SECTION STYLES END *************/